.card {
	width: 100%;
	height: 250px;
	padding: 0;
	border: 0;
	border-radius: 4px;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	cursor: pointer;


	&--happy {
		/* TODO: remove before deployment */
		/* border: 20px solid orange; */
	}

	&--faded {
		opacity: 0.25;
		border: 5px solid red;
		transition: ease-in-out all 0.2s;
	}

	&__wrapper {
		position: relative;
		width: 100%;
		max-width: 31%;
		height: 250px;
		margin: 10px;

		&:hover,
		&:focus {
			animation: jiggle 0.2s infinite;
		}
	}

	&__credits {
		position: absolute;
		bottom: 10px;

		width: 100%;
		left: 0;
		right: 0;
		background-color: rgba(#282c34, 0.8);

		text-align: center;

		transition: background-color 0.25s ease-out;

		&:focus,
		&:hover {
			background-color: #282c34;
		}
	}

	&__credits-link {
		padding: 8px 16px;
		display: inline-block;
		text-decoration: none;
		font-size: 14px;

		transition: color 0.25s ease-out;

		&:focus,
		&:hover {
			color: white;
		}
	}
}

@keyframes jiggle {
	0% {
		transform: rotate(-1deg);
	}
	50% {
		transform: rotate(1deg);
	}
}
