.card {
	width: 100%;
	max-width: 31%;
	height: 250px;
	margin: 10px;
	padding: 0;
	border: 0;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.card--happy {
	border: 20px solid orange;
}

.card--faded {
	opacity: 0.5;
	transition: ease-in-out opacity 0.2s;
}
